{% extends 'app/base.html' %} {% load static %} {% block title %}Reset your Password{% endblock title %} {% block main-content %}
<div class="container">
    <div class="row my-3">

        <div class="col-sm-6 offset-sm-3 text-center border shadow rounded p-5">
            <h1 class="alert-heading"><strong>Check your Email!</strong></h1>
            <p>An Email has been sent to you with the link to reset your password</p>
            <hr>
            <div class="image-container">
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200px" height="200px" frameBorder="0" class="giphy-embed" alt="funny GIF" allowFullScreen class="giphy-embed"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}