{% extends 'app/base.html' %} {% load static %} {% block title %}{{product.name}}{% endblock title %} {% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-6 text-center">
            <img src="{{product.image.url}}" alt="" class="img-fluid img-thumbnail border rounded shadow">
        </div>
        <div class="col-sm-5 offset-sm-1">
            <div class="card-body border shadow rounded">
                <h2 class="text-center"><strong>{{product.name}}</strong></h2>
                <hr>
                <div><strong>Product Description: </strong>{{product.description}}
                </div>
                <hr>
                <p><strong>Genre: </strong>{{product.genre}}

                </p>{% if product.category == 'PS'%}
                <strong>Platform: </strong><a href="{%url 'playstation'%}">PlayStation</a> {%endif%} {% if product.category == 'XB'%}
                <strong>Platform: </strong><a href="{%url 'xbox'%}">Xbox</a> {%endif%} {% if product.category == 'NI'%}
                <strong>Platform: </strong><a href="{%url 'nintendo'%}">Nintendo Switch</a> {%endif%} {% if product.category == 'PC'%}
                <strong>Platform: </strong><a href="{%url 'pc'%}">PC</a> {%endif%}
                <hr>
                <h4>₹{{product.selling_price}}</h4> <br> {%if request.user.is_authenticated%}{%if itemincart %}
                <a href="{% url 'cart' %}" class="d-grid btn btn-danger shadow px-5 py-2">Already in Cart!</a> {%else%}
                <form action="/add-to-cart" class="d-grid">
                    <input type="hidden" name="prod_id" value={{product.id}} id="prod_id">
                    <button type="submit" class="btn btn-warning shadow px-5 py-2">Add to Cart</button>
                </form>
                {%endif%} {%endif%} {%if not request.user.is_authenticated%}
                <form action="/add-to-cart" class="d-grid">

                    <input type="hidden" name="prod_id" value={{product.id}} id="prod_id">
                    <button type="submit" class="btn btn-warning shadow px-5 py-2">Add to Cart</button>
                </form>
                {%endif%}




                <hr> {%if request.user.is_authenticated%}{%if itemincart %}
                <a href="{% url 'checkout' %}" class="d-grid btn btn-warning shadow px-5 py-2">Buy Now!</a> {%else%}
                <form action="/buy" class="d-grid">
                    <input type="hidden" name="prod_id" value={{product.id}} id="prod_id">
                    <button type="submit" class="btn btn-info shadow px-5 py-2">Buy Now!</button>
                </form>
                {%endif%}{%endif%} {%if not request.user.is_authenticated%}
                <form action="/buy" class="d-grid">
                    <input type="hidden" name="prod_id" value={{product.id}} id="prod_id">
                    <button type="submit" class="btn btn-info shadow px-5 py-2">Buy Now!</button>
                </form>{%endif%}
            </div>
            <hr>
            <div class="card-body border shadow rounded">
                <h2 class="text-center">Reviews</h2>
                <hr> {%if not product.reviews.all %} No Reviews yet..
                <hr> {% else %} {%for c in product.reviews.all%}
                <strong>
                {{c.name}} - {{c.date_added}}
            </strong>
                <br> {{c.body}}
                <hr> {%endfor%} {%endif%}

                <a href="{% url 'addreview' product.id%}" class="btn btn-success d-grid text-center fw-bold">Add a Review</a>
            </div>
            <hr>
            <h5 class="mt-5">Available Offers</h5>
            <ul>
                <li>Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit</li>
                <li>Special Price Get extra ₹3000 off (price inclusive of discount)</li>
                <li>No cost EMI ₹1,667/month. Standard EMI also available</li>
                <li>Partner Offer ₹2000 Flipkart Gift Card on Every 1000th Transaction with a new Visa Debit/Credit Card</li>
            </ul>
        </div>
    </div>
</div>
{% endblock main-content %}